form#upload-form {
    display: flex;
    flex-direction: row;
}

input[type="file"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
}

button.upbutton {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button.upbutton:hover {
    background-color: #0064d6;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

input.search-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    font-size: 16px;
    flex-grow: 1;
}

button.search-btn {
    padding: 10px 20px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button.search-btn:hover {
    background-color: #0064d6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: black;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #0070f3;
    text-align: center;
    white-space: nowrap;  /* 关键属性，避免表头内容换行 */
}

th:first-child {
    text-align: left; /* 第一个表头左对齐 */
}


td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    white-space: nowrap;  /* 关键属性，避免文件名列文字换行 */
}

td:first-child {
    text-align: left;  /* 第一列左对齐 */
}

td.file-name {
    font-weight: bold;
    text-align: left;  /* 文件名左对齐 */
}

td.file-size {
    text-align: right; /* 文件大小右对齐 */
}

td.upload-time {
    font-style: italic;
}

td.actions {
    text-align: center;
}

button {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button.edit {
    background-color: #0070f3;
    color: #fff;
}

button.edit:hover {
    background-color: #0064d6;
}

button.delete {
    background-color: #f03e3e;
    color: #fff;
}

button.delete:hover {
    background-color: #eb2f2f;
}